[submodule "packages/node-openvr"]
	path = packages/node-openvr
	url = https://github.com/baku89/node-openvr
[submodule "packages/tweeq"]
	path = packages/tweeq
	url = https://github.com/baku89/tweeq
