[submodule "dev_modules/tweeq"]
	path = dev_modules/tweeq
	url = https://github.com/baku89/tweeq
[submodule "dev_modules/node-openvr"]
	path = dev_modules/node-openvr
	url = https://github.com/baku89/node-openvr/
